.aud-wrapper2 {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
}

@media (max-width: 1110px) {
  .aud-wrapper2 {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    /* width: 100%; */
    height: 780px;
    margin-top: -80px;
  }
}

@media (max-width: 700px) {
  .aud-wrapper2 {
    margin-top: 50px;
  }
}

@media (max-width: 590px) {
  .aud-wrapper2 {
    /* margin-top: -200px; */
    margin-bottom: -200px;
  }
}

@media (max-width: 400px) {
  .aud-wrapper2 {
    margin-top: 100px;
    margin-bottom: -100px;
  }
}

@media (max-width: 375px) {
  .aud-wrapper2 {
    margin-top: 250px;
  }
}

.aud-title {
  background-color: white;
  width: 60%;
  height: 150px;
  margin-top: 120px;
  padding-left: 6%;
  text-align: left;
}

@media (max-width: 1110px) {
  .aud-title {
    width: 100%;
    margin-top: 20px;
    padding-left: 20px;
  }
}

.aud-bg-chr {
  width: 15%;
  height: 500px;
  background-image: url('https://i.imgur.com/LDcB0vL.png');
  background-size: cover;
}

.aud-text-h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.aud-title p {
  padding-right: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.7rem;
  padding-top: 20px;
  color: black;
}

@media (max-width: 1110px) {
  .aud-title p {
    padding-right: 10px;
  }
}

.aud-bg {
  width: 70.8%;
  height: 500px;
  background-image: url('https://i.imgur.com/iqEwNsc.jpg');
  background-size: cover;
  background-position: 30% 50%;
}

@media (max-width: 1110px) {
  .aud-bg {
    width: 100%;
    background-position: 10% 50%;
  }
}

@media (max-width: 590px) {
  .aud-bg {
    background-position: 20% 50%;
    height: 300px;
  }
}

.aud-title-wrapper {
  height: 500px;
  width: 20.8%;
  padding-top: 43px;
  padding-left: 20px;
}

.aud-h3 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: 'Lato', sans-serif;
  font-size: 4rem;
  font-weight: bold;
}

.fa-arrow-down {
  margin-top: 20px;
  font-size: 6rem;
}
