.core-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25px;
}

.core-h3 {
  font-family: 'Lato', sans-serif;
  font-size: 6rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.core {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.core h4 {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px;
}
