.core-wrapper2 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

.core-title {
  background-color: white;
  width: 15.6%;
  height: 600px;
  padding-left: 3%;
  text-align: left;
}

.core-bg-chr {
  width: 15%;
  height: 600px;
  background-image: url('https://i.imgur.com/LDcB0vL.png');
  background-size: cover;
}

.core-text-h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.core-title-wrapper p {
  padding-right: 60px;
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.7rem;
  padding-top: 20px;
  color: black;
}

.core-bg {
  width: 37.9%;
  height: 600px;
  background-image: url('https://i.imgur.com/H3nsykn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 25%;
}

.core-title-wrapper {
  height: 600px;
  width: 45%;
  text-align: left;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.core-h3 {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: 'Lato', sans-serif;
  font-size: 6.5rem;
  font-weight: bold;
  transform: rotate(-180deg);
  color: black;
  margin-top: 40px;
  margin-left: 59%;
}
