.dn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 100px;
}

@media (max-width: 400px) {
  .dn-container {
    align-items: flex-start;
  }
}

/*  */

.dn-box-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 80px;
}

@media (max-width: 400px) {
  .dn-box-container {
    width: 100%;
  }
}

.c2 {
  margin-top: 50px;
}

.arts-build {
  height: 100px;
  width: 310px;
  background-image: url('https://i.imgur.com/wj02qyw.png');
}

.dn-box {
  width: 350px;
  height: 390px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

@media (max-width: 400px) {
  .dn-box {
    width: 100%;
    margin-left: 1px;
    text-align: left;
    height: 300px;
  }
}

/* @media (max-width: 550px) {
  .dn-box {
    height: 390px;
  }
}

@media (max-width: 360px) {
  .dn-box-2 {
    margin-top: 80px;
  }
} */

.dn-inner-box {
  height: 290px;
  overflow: visible;
}

.dn-box h4 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}

.dn-box p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.3rem;
  color: black;
  margin-bottom: 20px;
}

.dn-box .fas {
  font-size: 6rem;
}

.founders-box,
.battersby-box {
  height: 250px;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: -15px;
}

.jordan {
  background-image: url('https://i.imgur.com/cOjPDOr.png');
  background-size: cover;
  margin-left: 115px;
}

.bruce {
  background-image: url('https://i.imgur.com/GDbJ47X.png');
  background-size: cover;
  margin-left: 115px;
}

.robbye {
  background-image: url('https://i.imgur.com/afuGhPu.png');
  background-size: cover;
  margin-left: 115px;
}

.leighanne {
  background-image: url('https://i.imgur.com/UY1D8AY.png');
  background-size: cover;
  background-position: 50% 50%;
  margin-left: 115px;
}

.founders {
  background-image: url('https://i.imgur.com/AVFHMBL.jpg');
  background-size: cover;
  margin-left: 115px;
}

.starbucks {
  background-image: url('https://i.imgur.com/UoVBQZe.png');
  background-size: cover;
  margin-left: 115px;
}

.unum {
  background-image: url('https://i.imgur.com/vJiDXZv.png');
  background-size: cover;
  margin-left: 115px;
}

.cigna {
  background-image: url('https://i.imgur.com/qM1cESh.png');
  background-size: cover;
  margin-left: 115px;
}

.partners {
  background-image: url('https://i.imgur.com/YYQ7I8H.png');
  background-size: cover;
  background-position: 50% 50%;
  margin-left: 115px;
}

@media (max-width: 400px) {
  .jordan,
  .bruce,
  .robbye,
  .leighanne,
  .founders,
  .starbucks,
  .unum,
  .cigna,
  .partners {
    margin-left: 1px;
  }
}


@media (max-width: 822px){
  .bruce-box {
    margin-top: 60px;
  }

  .rob-box {
    margin-top: 25px;
  }

  .battersby-box {
    margin-top: -30px;
  }

  .f-box {
    margin-top: -20px;
  }

  .buck-box {
    margin-top: 30px;
  }

  .un-box {
    margin-top: -20px;
  }

  .cig-box {
    margin-top: -20px;
  }

  .com-box {
    margin-top: -10px;
  }
}

@media (max-width: 400px){
  .bruce-box {
    margin-top: 120px;
  }

  .rob-box {
    margin-top: 50px;
  }

  .battersby-box {
    margin-top: 20px;
  }

  .f-box {
    margin-top: -30px;
  }

  .buck-box {
    margin-top: 20px;
  }

  .un-box {
    margin-top: -30px;
  }

  .cig-box {
    margin-top: -40px;
  }

  .com-box {
    margin-top: -20px;
  }
}

@media (max-width: 392px){
  .rob-box {
    margin-top: 60px;
  }
}

@media (max-width: 375px){
  .bruce-box {
    margin-top: 130px;
  }
}

@media (max-width: 362px){
  .battersby-box {
    margin-top: 30px;
  }
}

@media (max-width: 360px){
  .bruce-box {
    margin-top: 30px;
  }
}

@media (max-width: 351px){
  .rob-box {
    margin-top: 70px;
  }
}

@media (max-width: 347px){
  .bruce-box {
    margin-top: 140px;
  }

  .buck-box {
    margin-top: 50px
  }
}

@media (max-width: 323px){
  .bruce-box {
    margin-top: 160px;
  }
}