.exec-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 100px;
}

.exec-h3 {
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
  margin-left: 20px;
  /* transform: rotate(-90deg);
  position: absolute;
  margin-top: -10px;
  margin-left: -400px; */
}

.execs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 80%; */
}

.exec {
  margin: 20px;
  box-shadow: 3px 5px 9px -1px #000000;
  width: 200px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hov {
  transition: linear 0.1s;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.hov:hover {
  box-shadow: 5px 5px 10px 1px #353b48;
  transform: scale(1.15);
}

.gp {
  background-image: url('https://i.imgur.com/b1oYI45.jpg');
  background-size: cover;
}

.jt {
  background-image: url('https://i.imgur.com/ZseWLB6.jpg');
  background-position: 60% 10%;
}

.ct {
  background-image: url('https://i.imgur.com/JbI0LAy.png');
  background-position: 40% 10%;
  background-size: cover;
}

.js {
  background-image: url('https://i.imgur.com/CYgV1VL.png');
  background-position: 40% 10%;
}

.kc {
  background-image: url('https://i.imgur.com/mFZG0Oo.png');
  background-position: 40% 50%;
  background-size: cover;
}

.ew {
  background-image: url('https://i.imgur.com/UFqtoCx.jpg');
  background-size: cover;
}

.exec h4 {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 20px;
}
