.GI-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.GI-div {
  display: flex;
  height: 400px;
  width: 100%;
}

@media (max-width: 1110px) {
  .GI-div {
    border: 3px solid red;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 1000px;
  }
}

.GI-inner-div {
  width: 50%;
  height: 100%;
}

@media (max-width: 1110px) {
  .GI-inner-div {
    width: 100%;
  }
}

.auditions-image {
  overflow: hidden;
  background-image: url('https://i.imgur.com/mQ7lnK0.jpg');
  background-size: cover;
}

.designing-image {
  overflow: hidden;
  background-image: url('https://i.imgur.com/gjdPA3h.jpg');
  background-size: cover;
  background-position: 50% 50%;
}

.directing-image {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  background-image: url('https://i.imgur.com/JPhWsvb.jpg');
  background-size: cover;
}

.volunteering-image {
  overflow: hidden;
  background-image: url('https://i.imgur.com/UwktkLt.jpg');
}

.left-wrap {
  display: flex;
  flex-wrap: wrap;
}

.right-wrap {
  display: flex;
  margin-left: 46%;
}

.auditions-text {
  display: flex;
  align-items: center;
}

.auditions-text img {
  height: 400px;
}

.directing-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.directing-text .left-wrap {
  width: 300px;
  margin-left: -60%;
}

.volunteering-text .right-wrap {
  margin-left: 44%;
}

.GI-wrapper h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 13rem;
}

.white-h3 {
  color: white;
  z-index: 3;
}

.black-h3 {
  color: black;
}

.directing-image .white-h3 {
  font-size: 17rem;
}

.auditions-image .white-h3 {
  font-size: 17rem;
}

.designing-image .white-h3 {
  font-size: 17rem;
}

.volunteering-image .white-h3 {
  font-size: 17rem;
}

.dir-text-2 {
  opacity: 0.6;
}

.dir-text-3 {
  opacity: 0.4;
}

.dir-text-4 {
  opacity: 0.1;
}

.fas {
  font-size: 10rem;
}

.auditions-text {
  display: flex;
  justify-content: center;
}

.auditions-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.auditions-text h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.7rem;
}

.designing-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.designing-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.designing-text h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.7rem;
}

.directing-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.directing-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.directing-text h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.7rem;
}

.volunteering-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.volunteering-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 7rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.volunteering-text h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.7rem;
}

.text-box {
  text-align: left;
  width: 700px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
}

.btn {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  height: 50px;
  width: 120px;
  margin-top: 20px;
}

a h5 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.7rem;
  letter-spacing: 2px;
}

.text-box .social-icons {
  margin-top: 25px;
  margin-left: 0;
  width: 220px;
  display: flex;
  align-items: flex-start;
}

.fab {
  font-size: 4rem;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: 0.5s;
}

.text-box .social-icons a {
  color: black;
}

.fa-facebook-f:hover {
  color: #4267b2;
}

.fa-twitter:hover {
  color: #5da9dd;
}

.fa-instagram:hover {
  color: #bf3577;
}

.fa-youtube:hover {
  color: #ff0000;
}

.fa-patreon:hover {
  color: #e85b46;
}

.navigation img {
  width: 90px;
}

@media (max-width: 1110px) {
  .designing,
  .volunteering {
    flex-direction: column-reverse;
  }
}
