.spec-wrapper {
    height: 500px;
    width: 100%;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
}

.spec-logo {
    width: 25%;
    height: 100%;
    background-image: url('https://i.imgur.com/pqvYth6.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

.spec-about {
    width: 25%;
    height: 100%;
    text-align: left;
}

.spec-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
  }

  .spec-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 2.5rem;
    font-size: 1.7rem;
    color: black;
  }

  .spec-show-logo {
    width: 25%;
    height: 100%;
    background-image: url('https://i.imgur.com/JhE7sAu.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}