.spec-wrapper {
    height: 500px;
    width: 100%;
    display: flex;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 100px;
}

@media (max-width: 1110px){
    .spec-wrapper {
        height: 1200px;
        flex-direction: column;
    }
}

 @media (max-width: 420px){
    .spec-wrapper {
        height: 1600px;
    }
}

.spec-logo {
    width: 50%;
    height: 100%;
    background-image: url('https://i.imgur.com/pqvYth6.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
}

@media (max-width: 1110px){
    .spec-logo {
        width: 100%;
        height: 700px;
    }
}

.spec-about {
    width: 50%;
    height: 100%;
    text-align: left;
    margin-top: 80px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: white;
}

@media (max-width: 1110px){
    .spec-about {
        width: 100%;
        height: 70%;
        margin-top: 40px;
        margin-left: 0px;
    }
}

.spec-title {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
  }

  .spec-text {
    font-family: 'Open Sans', sans-serif;
    line-height: 2.5rem;
    font-size: 1.7rem;
    color: black;
  }

  .spec {
      margin-bottom: 100px;
  }

  .spec-show-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  @media (max-width: 1110px){
    .spec-show-wrapper {
        margin-top: -100px;
    }
}

@media (max-width: 630px){
    .spec-show-wrapper {
        margin-top: -50px;
    }
}


.spec-show-logo {
    width: 100%;
    height: 50%;
    background-image: url('https://i.imgur.com/iG1OeBF.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    margin-bottom: 20px;
}

@media (max-width: 1110px){
    .spec-show-logo {
        display: none;
    }
}

.spec-show-about {
    width: 100%;
    text-align: left;
}

@media (max-width: 1110px){
    .spec-show-about {
        width: 100%;
        height: 50%;
    }
}

.spec-date-wrapper {
    display: flex;
    margin-top: 10px;
}

.spec-ticket {
    font-size: 2rem;
    margin-top: 4px;
    margin-left: 6px;
}

.date {
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
