.timeline-wrapper {
  display: flex;
  padding-top: 100px;
  z-index: -7;
  overflow: hidden;
}

.who-are-we {
  width: 27%;
  margin-top: 300px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start; */
  text-align: left;
  /* border: 3px solid black; */
  margin-left: 3%;
}

.who-are-we h3 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 8rem;
  margin-bottom: 20px;
}

.who-are-we p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
}

.tl-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tl-box-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 100px;
}

.c2 {
  margin-top: 50px;
}

.arts-build {
  height: 100px;
  width: 310px;
  background-image: url('https://i.imgur.com/wj02qyw.png');
}

.tl-box {
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  /* text-align: left; */
  /* width: 25%; */
  width: 400px;
  height: 290px;
  padding-left: 20px;
  padding-right: 20px;
  /* 
  border: 3px solid black; */
  /* padding-right: 70px; */
  /* padding-left: 70px; */
}
.inner-box {
  height: 290px;
  overflow: visible;
}
.tl-box h4 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
}
.tl-box p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 2rem;
  color: black;
  margin-bottom: 20px;
}

.tl-box .fas {
  font-size: 6rem;
}
/* .triangle {
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  background-color: black;
  height: 300px;
  width: 200px;
  margin-right: -500px;

} */
/* .inner-box {
  width: 20%;
  border: 3px solid purple;
} */
/* 
.box-1 {
  margin-left: 200px;
  padding-left: 200px;
}

.box-2 {
  width: 400px;
  padding-left: 50px;
}

.box-3 {
  width: 400px;
  margin-left: -350px;
} */
/* 
.tl-left {
  width: 600px;
  height: 1200px;
  margin-top: -150px;
  margin-left: 300px;
  transform: rotate(-55deg);
  background: black;
}

.rom-img {
  width: 220px;
  position: absolute;
  transform: rotate(55deg);
  margin-top: 100px;
  margin-left: 20px;
}

.rom-h4 {
  position: absolute;
  font-family: 'Gelasio', serif;
  font-size: 3rem;
  color: white;
  z-index: 3;
  font-weight: bold;
  margin-top: 265px;
  margin-left: 10px;
  transform: rotate(56deg);
}

.rom-h5 {
  margin-top: 320px;
  margin-left: 340px;
  font-family: 'Lato', sans-serif;
  font-size: 8.2rem;
  font-weight: bold;
  color: black;
  z-index: 5;
  position: absolute;
  transform: rotate(56deg);
} */
/*  */
/*  */
/*  */
/* .timeline-wrapper {
  display: flex;
  padding-top: 100px;
  background-image: url('https://i.imgur.com/p9gXxWA.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 800px;
  width: 100%;
} */
.timeline-segment {
  width: 33%;
  height: 800px;
  overflow: hidden;
}
.rectangle-left {
  /* margin-top: -23%; */
  position: absolute;
  width: 180%;
  height: 50%;
  margin-top: 10%;
  margin-left: -50%;
  transform: rotate(15deg);
}
.timeline-segment h5 {
  margin-top: 210px;
  margin-left: 305px;
  font-family: 'Lato', sans-serif;
  font-size: 8.2rem;
  font-weight: bold;
  color: white;
  z-index: 5;
  position: absolute;
}
.timeline-segment h4 {
  position: absolute;
  font-family: 'Gelasio', serif;
  font-size: 3rem;
  color: white;
  z-index: 3;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 10px;
}
.quote-rj p {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 1.5rem;
  color: white;
  /* font-weight: bold; */
}

.quote-rj {
  width: 200px;
  height: 200px;
  position: absolute;
  margin-left: 310px;
  margin-top: 77px;
  text-align: left;
}
.about-rj p {
  color: black;
  font-size: 1.525rem;
  line-height: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-rj h3 {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.about-rj {
  width: 500px;
  height: 200px;
  position: absolute;
  margin-top: 170px;
  /* margin-left: -280px; */
  margin-left: -230px;
  text-align: left;
}
.img2 {
  height: 250px;
  width: 250px;
  position: absolute;
  margin-top: 60px;
  margin-left: -278px;
}

/* .directing-text h1 {
  font-family: 'Lato', sans-serif;
  font-size: 8rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.directing-text h2 {
  font-family: 'Open Sans', sans-serif;
  line-height: 2.5rem;
  font-size: 2rem;
} */
.img2-1 {
  width: 200px;
  margin-top: 1%;
  margin-left: -300px;
  position: absolute;
}
.timeline-segment .h42 {
  font-family: 'Poiret One', cursive;
  margin-top: 200px;
}
.timeline-segment .h43 {
  font-family: 'IM Fell DW Pica', serif;
  margin-top: 400px;
  margin-left: 300px;
}
.timeline-segment .h52 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 8rem;
  margin-top: 70px;
  margin-left: 220px;
}

.timeline-segment .h53 {
  font-family: 'Lato', sans-serif;
  color: white;
  font-size: 8rem;
  margin-top: 450px;
  margin-left: 380px;
}

.img2-2 {
  position: absolute;
  width: 250px;
  margin-top: 20%;
  margin-left: -200px;
}
.img3-1 {
  position: absolute;
  width: 210px;
  margin-top: 18%;
  margin-left: -280px;
}
.timeline-segment .h44 {
  font-family: 'Rock Salt', cursive;
  font-size: 3rem;
  /* position: absolute; */
  z-index: 5;
  color: white;
}

.timeline-segment .cat-wrapper {
  width: 200px;
  position: absolute;
  text-align: left;
  line-height: 3.5rem;
  margin-top: 420px;
  margin-left: 220px;
}
.timeline-segment .rom-wrapper {
  width: 40px;
  position: absolute;
  margin-top: -40px;
  margin-left: 105px;
  border: 5px;
}

.timeline-segment .h54 {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 8rem;
  margin-top: 250px;
  margin-left: 50px;
}

.quote-fal p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.525rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.quote-fal {
  width: 200px;
  height: 200px;
  position: absolute;
  text-align: left;
  margin-left: 12px;
  margin-top: 240px;
}
.quote-jek p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.525rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.quote-jek {
  width: 200px;
  height: 200px;
  position: absolute;
  text-align: left;
  margin-left: 302px;
  margin-top: 285px;
}
.quote-cat p {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.525rem;
  line-height: 2.5rem;
  margin-bottom: 20px;
}

.quote-cat {
  width: 200px;
  height: 200px;
  position: absolute;
  text-align: left;
  margin-left: 230px;
  margin-top: 570px;
}
.about-cat p {
  color: black;
  font-size: 1.525rem;
  line-height: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-cat h3 {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
}

.about-cat {
  width: 400px;
  height: 200px;
  position: absolute;
  margin-top: 30px;
  /* margin-left: -280px; */
  margin-left: 160px;
  text-align: right;
}
