/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: 2rem;
  font-family: 'Lato', sans-serif;
  color: white;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  overflow: hidden;
  /* display: flex; */
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  /* max-width: 2170px; */
}

/* @media (min-width: 2170px) {
  .constrainer {
    margin-left: 10%;
    margin-right: 10%;
  }
} */

h3 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
}

.desktop-nav {
  display: none;
}

.mobile-nav {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* text-align: left; */
  animation: slide-in-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.mobile-nav a h3 {
  color: black;
  font-size: 4rem;
  margin-top: 25px;
  margin-bottom: 50px;
}

.mobile-nav a {
  text-decoration: none;
  margin-bottom: 50px;
  width: 300px;
}

.mobile-nav a h3:hover {
  color: red;
}

@media(max-wdith: 500px){ 
  .mobile-nav a h3:hover {
  color: green;
  }
}

@media(max-wdith: 450px){ 
  .mobile-nav a h3:hover {
  color: blue;
  }
}

@media(max-wdith: 400px){ 
  .mobile-nav a h3:hover {
  color: yellow;
  }
}

@media(max-wdith: 350px){ 
  .mobile-nav a h3:hover {
  color: pink;
  }
}