/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: 2rem;
  color: white;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

h3 {
  color: white;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  /* border: 5px solid black; */
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* border: 5px solid red; */
}

.logo-wrapper {
  width: 100%;
  height: 550px;
  margin-top: 100px;
  margin-bottom: 100px;
  /* border: 5px solid pink; */
  background-image: url('https://i.imgur.com/auFu7IL.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.logo {
  /* width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/auFu7IL.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 40px;
  border: 5px solid red; */
}

.divider {
  width: 8px;
  height: 500px;
  margin-top: 50px;
  margin-bottom: 25px;
  background-color: black;
}

.events-wrapper {
  width: 50%;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px solid green; */
}

.event-wrapper {
  display: flex;
  width: 90%;
  height: 120px;
  /* border: 5px solid orange; */
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -3px #000000;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 110px;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  background-color: black;
  padding: 5px;
}

.event-divider {
  width: 85%;
  height: 3px;
  background-color: white;
  margin-top: 2px;
  margin-bottom: 2px;
}

.event-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  /* border: 2px solid red; */
}

.info-heading {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2px;
}

.info-subheading {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 5px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
  /* font-weight: light; */
}

h3 {
  font-family: 'Lato', sans-serif;
  font-size: 5rem;
}

/* .event-image {
  width: 20%;
  height: 120px;
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/71KE4JaW0RL._SY355_.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  /* clip-path: circle(58.4% at 89% 30%); */
/* border: 5px solid black;
  margin-left: 20%; */
.event-image {
  margin-top: -300px;
  margin-left: 70%;
  width: 45%;
  height: 390px;
}

/* NAVIGATION */
/*  */
/*  */

.navigation {
  display: flex;
  justify-content: flex-end;
}

.navigation h3 {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

/* HomeShows */
/*  */
/*  */

.homeshows-wrapper {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  /* border: 5px solid lawngreen; */
}

.show-wrapper-one {
  width: 40%;
  height: 700px;
}

.show-one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/8v7f9qB.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.show-one p {
  margin-top: 50px;
  margin-right: 10%;
}

.show-one h3 {
  color: #d0311e;
  font-weight: bold;
  margin-right: 10%;
}

.show-wrapper-two {
  width: 60%;
  height: 500px;
}

.show-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/XH9EeKa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.show-two p {
  margin-top: 150px;
  margin-right: 10%;
}

.show-two h3 {
  color: #0068a9;
  font-weight: bold;
  margin-right: 10%;
}

.show-wrapper-three {
  width: 40%;
  height: 800px;
}

.show-three {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/WgZSRLp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.show-wrapper-four {
  width: 60%;
  height: 600px;
  margin-top: -210px;
}

.show-four {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 250px;
  padding-left: 3%;
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/XzjX6s1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.four-box {
  padding-top: 100px;
  text-align: left;
}

.show-four h3 {
  padding-left: 60px;
  /* color: #9e223a; */
  color: #510126;
  font-weight: bold;
}

.show-four p {
  color: black;
  font-weight: bold;
}

.show-wrapper-five {
  width: 40%;
  height: 500px;
}

.show-five {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/uQ8ZFzi.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
}

.show-five p {
  padding-left: 40%;
}
.show-five h3 {
  padding-top: 390px;
  padding-left: 40%;
  color: #6f2704;
  font-weight: bold;
}

.show-wrapper-six {
  width: 60%;
  height: 920px;
  margin-top: -420px;
}

.show-six {
  width: 100%;
  height: 100%;
  background-image: url('https://i.imgur.com/roDlk5e.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.six-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 80px;
  padding-left: 45%;
}

.show-six h3 {
  color: #f4884a;
  font-weight: bold;
}

/* .show-six p {
  color: rgb(122, 58, 58);
  font-weight: bold;
} */
